port: 3000
verbose-mode: true
private-key: "./default_private_key_example.ppk"
private-key-password: "123456"
server-base-url: "http://httpbin.org"
key-id: "your key id"
key-configs:
  config-1:
    client-id: "ba141d1d-086e-4bfc-972e-621b4a6ab404"
    private-key: "./private_key_example.ppk"
    private-key-password: "123456"
    server-base-url: "http://httpbin.org"
    key-id: "your key id"
  config-2:
    client-id: "d343f1b6-df94-462e-8328-ca1c88b6e32a"
    private-key: "./private_key_example_2.ppk"
    private-key-password: "123456"
    server-base-url: "http://httpbin.org"
    key-id: "your key id 2"