name: Test

on: push

env:
  GITHUB_SHA: ${{ github.sha }}

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.18.x ]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Setup test execution
        run: |
          go install gotest.tools/gotestsum@latest
          go mod tidy

      - name: Test
        run: |
          #!/bin/bash

          # Exit on any error
          set -e

          # --- TEST ---
          gotestsum --format=testname --junitfile test-report.xml -- -v --cover -p=1 --timeout 30m ./...
        env:
          LOG_LEVEL: debug

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: test-report.xml
